/* General styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    transition: background-color 0.5s, color 0.5s;
}

/* Light mode */
body.light-mode {
    background-color: #f4f4f4;
    color: #333333;
}

/* Dark mode */
body.dark-mode {
    background-color: #333;
    color: #f4f4f4;
}

/* Container */
.container {
    display: flex;
    flex-wrap: wrap; /* Ensures the sections wrap into rows */
    justify-content: space-around;
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
}

/* Headers */
h1, h2 {
    color: inherit;
    margin: 10px 0;
}

/* Button styles */
.button {
    padding: 10px 20px;
    background-color: #007BFF;
    border: none;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #0056b3;
}

/* Section styles */
.section {
    flex: 1 1 calc(33% - 40px);
    min-width: calc(33% - 40px);
    padding: 20px;
    border: 1px solid #e0e0e0;
    margin: 20px 0;
    background-color: inherit; /* This ensures consistency between dark and light modes */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
}

/* Responsive design */
@media screen and (max-width: 1200px) {
    .section {
        flex: 1 1 calc(50% - 40px);
        min-width: calc(50% - 40px);
    }
}

@media screen and (max-width: 768px) {
    .section {
        flex: 1 1 100%;
        min-width: 100%;
    }
}

/* Input and select styles */
input[type="number"],
input[type="date"],
select {
    padding: 10px;
    width: 80%;
    margin-right: 10px;
    border: 1px solid #e0e0e0;
    background-color: inherit; /* Matches the dark/light theme */
    color: inherit;
}
