/* General styles */
body {
    font-family: 'Montserrat', sans-serif;
   /* Body Text */
    line-height: 1.6;
    margin: 0;
    padding: 0;
    transition: background-color 0.5s, color 0.5s;
    background-size: cover;
   /* Ready for a potential background image */
}
/* Light Mode */
body.light-mode {
    background-color: #f4f4f4;
   /* Primary Color */
    color: #333333;
}
body.light-mode button:hover {
    background-color: #FFD700;
   /* Tertiary color on button hover for light mode */
    border-color: #FFD700;
}
/* Dark Mode */
body.dark-mode {
    background-color: #333333;
   /* Primary Color */
    color: #FFD700;
}
body.dark-mode input[type="number"], body.dark-mode input[type="date"], body.dark-mode select {
    background-color: #444444;
    color: #f4f4f4;
    border: 1px solid #555555;
}
body.dark-mode select option {
    background-color: #444444;
    color: #f4f4f4;
}
body.dark-mode select option:checked, body.dark-mode select option:hover {
    background-color: #555555;
    color: #f4f4f4;
}
body.dark-mode button:hover {
    background-color: #b3a125;
   /* Tertiary Color for dark mode */
    border-color: #b3a125;
}
/* Container */
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1148px;
    margin: 0 auto;
    padding: 20px;
    position: relative;
}
/* Headers */
h1 {
    margin-bottom: 10px;
}
h2 {
    color: #b3a125;
}
h1, h2 {
    font-family: 'Merriweather', serif;
   /* Headers */
    color: inherit;
    text-align: center;
    margin: 10px 0;
    font-weight: 600;
   /* Bolder headers */
}
/* Button styles */
button {
    padding: 10px 20px;
    background-color: #800000;
    margin-top: 5px;
   /* Secondary Color */
    border: 2px solid transparent;
    text-align: center;
   /* Transparent border to maintain button size on hover */
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
    font-size: 16px;
    border-radius: 5px;
   /* Rounded corners for a modern look */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
   /* Subtle shadow for depth */
    outline: none;
   /* Removes the default browser outline */
}
/* Dark Mode Toggle */
.dark-toggle {
    cursor: pointer;
    padding: 8px 12px;
    background-color: inherit;
    border: 1px solid #e0e0e0;
    transition: background-color 0.3s;
    border-radius: 5px;
   /* Consistent with other button styles */
    margin-left: 10px;
   /* For spacing from other header elements */
}
.dark-toggle:hover {
    background-color: #555555;
}

#currentEpochTime {
    text-align: right;
    position: absolute;
    top: 50px;
    right: 10px;
    z-index: 9999;   
}

#toggleThemeButton {
    display: block;
    margin-left: auto;
    margin-right: 20px;
    margin-bottom: 10px;
}

/* Section styles */
.section {
    flex: 1 1 calc(33% - 40px);
    min-width: calc(33% - 40px);
    padding: 20px;
    border: 1px solid #b3a125;
    margin: 20px 2px;
    background-color: inherit;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
   /* Consistent shadow for depth */
    border-radius: 5px;
   /* Consistent rounding */
}
/* Responsive Design */
@media screen and (max-width: 1200px) {
    .section {
        flex: 1 1 calc(50% - 40px);
        min-width: calc(50% - 40px);
   }
}
@media screen and (max-width: 768px) {
    .section {
        flex: 1 1 100%;
        min-width: 100%;
   }
}

/* ... existing CSS ... */

/* Responsive Design for small screens */
@media screen and (max-width: 768px) {
    /* Adjust header size and margin */
    h1 {
        font-size: 30px; 
        margin: 20px 0; /* This centers vertically if needed */
        text-align: center;
        margin-left: 50px;
    }
    
    
    #epochAndToggleWrapper {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #currentEpochTime {
        order: 2; /* make the epoch time appear second */
        margin-left: 50px; /* Adjust this as needed */
        text-align: left;
        position: relative;
        top: 0;
        right: unset;
        left: unset;
        transform: unset;
    }

    .custom-toggle-switch {
        order: 1; /* make the toggle switch appear first */
        position: relative !important;
        top: 0 !important;
        left: 10px;
    }
    .container{
        padding-top: 0px !important;
    }
}

@media screen and (max-width: 480px) {
    /* Adjustments for even smaller screens like older smartphones */
    h1 {
        font-size: 18px; /* Reduced size for tiny screens */
    }
}

/* Input and select styles */
input[type="number"], input[type="date"], select {
    padding: 10px 15px;
    width: 200px;
   /* Fixed width for all inputs, selects, and buttons */
    margin-right: 10px;
    margin: 3px;
    border: 1px solid #e0e0e0;
    background-color: inherit;
    color: inherit;
    border-radius: 5px;
   /* Rounded corners */
    font-size: 16px;
   /* Font size consistency */
    outline: none;
   /* Removes the default browser outline */
}

.form-element {
    padding: 10px 15px;
    width: 200px;
    margin: 3px;
    border: 1px solid #e0e0e0;
    background-color: inherit;
    color: inherit;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
    outline: none;
}


.section select[id^="monthDropdown"],
.section select[id^="dayDropdown"],
.section select[id^="yearDropdown"],
.section select[id^="hourDropdown"],
.section select[id^="minuteDropdown"],
.section select[id^="secondDropdown"] {
    width: 85px;
}


/* Tooltip styles */
.tooltip {
    position: relative;
    display: inline-block;
    cursor: help;
}
.tooltip .tooltiptext {
    visibility: hidden;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

/* Slider */
:root {
    --light-bg: #FFFFFF;
    --dark-bg: #333333;
    --light-border: #800000;
    --dark-border: #FFD700;
    --light-circle: #800000;
    --dark-circle: #FFD700;
}

.custom-toggle-switch {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 60px;
}

.custom-slider {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 30px;
    background-color: var(--light-border);
    border: 1px solid var(--dark-border);
    border-radius: 15px;
    transition: 0.4s;
}

#custom-toggle-input:checked + .custom-slider {
    background-color: var(--dark-bg);
    border: 1px solid var(--dark-border);
}

.custom-slider::before {
    content: "";
    position: absolute;
    top: 2px;
    left: 15px;  /* Positioned more towards the middle */
    width: 26px; 
    height: 26px; 
    border-radius: 50%;
    background-color: var(--light-circle); 
    box-shadow: -12px 0 0 0 var(--dark-border);  /* Adjusted shadow to slice off a small portion */
    transition: 0.4s;
}

#custom-toggle-input:checked + .custom-slider::before {
    left: 32px; 
    box-shadow: none; 
    background-color: var(--dark-circle);
}
