<!DOCTYPE html>
<html>

<head>
    <title>Epoch Calculator - Unix Calculator</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/styles.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Merriweather:wght@400;700&display=swap" rel="stylesheet">
</head>

<body class="dark-mode">
    <h1>Epoch Calculator & Unix Calculator</h1>
    <!-- Toggle Theme Button -->
    <button class="button" onclick="toggleTheme()">Toggle Theme</button>

    <!-- Display Current Epoch Time -->
    <div id="currentEpochTime">Current Epoch Time: <span id="epochTime"></span></div>

    <div class="container">
        <!-- Add/Subtract Epoch Time Section -->
        <div class="section">
            <h2>Add/Subtract Epoch Time</h2>
            <select id="epochType">
                <option value="current">Current Epoch Time</option>
                <option value="specific">Specific Epoch Time</option>
            </select>
            <input id="specificEpochInput" type="number" placeholder="Enter specific epoch time" disabled>
            <select id="operation">
                <option value="add">Add</option>
                <option value="subtract">Subtract</option>
            </select>
            <select id="timeUnit">
                <option value="seconds">Seconds</option>
                <option value="minutes">Minutes</option>
                <option value="hours">Hours</option>
            </select>
            <input id="timeValue" type="number" placeholder="Enter value">
            <button class="button" class="button" onclick="addSubtractCalc()">Calculate Epoch</button>
            <div id="addSubtractResult"></div>
        </div>

        <!-- Calendar Date to Epoch Converter Section -->
        <div class="section">
            <h2>Convert Calendar Date to Epoch Time Te</h2>
            <input id="calendarDateToEpoch" type="date">
            <br>
            <input type="checkbox" id="customTimeToggle" onclick="toggleCustomTime()">
            <label for="customTimeToggle">Custom Time:</label>
            <input type="checkbox" id="calendarUseGMT">    
            <label for="calendarUseGMT">Use GMT</label> 
            <br>
            <dir id="ampmCheck" style="padding: 0%;margin: 0%;">
            <input type="checkbox" id="time12AM" onclick="presetTime(this)" checked>    
            <label for="time12AM">12 AM</label> 
            <input type="checkbox" id="time12PM" onclick="presetTime(this)">    
            <label for="time12PM">12 PM</label>
            </dir>
            <input id="customHour" type="number" placeholder="HH" disabled>
            <input id="customMinute" type="number" placeholder="MM" disabled>
            <input id="customSecond" type="number" placeholder="SS" disabled>
            <br>
            <button class="button" onclick="convertCalendarDateToEpoch()">Convert to Epoch</button>       
            <div id="calendarDateToEpochResult"></div>
        </div>

        <!-- Drop-Down Date to Epoch Converter Section -->
        <div class="section">
            <h2>Convert Drop-Down Date to Epoch Time</h2>
            <select id="monthDropdown"></select>/
            <select id="dayDropdown"></select>/
            <select id="yearDropdown"></select>
            <br>        
            <select id="hourDropdown"></select>:
            <select id="minuteDropdown"></select>:
            <select id="secondDropdown"></select>
            <br>
            <button class="button" onclick="convertDropdownDateToEpoch()">Convert to Epoch</button>
            <label for="dropdownDateToEpochUseGMT">Use GMT</label>
            <input type="checkbox" id="dropdownDateToEpochUseGMT">
            <div id="dropdownDateToEpochResult"></div>
        </div>

        <!-- Convert Epoch Time to Human-Readable Date Section -->
        <div class="section">
            <h2>Convert Epoch Time to Human-Readable Date</h2>
            <input id="epochInput" type="number" placeholder="Enter epoch time">
            <button class="button" onclick="convertEpochToHumanReadable()">Convert to Date</button>
            <br>
            <label for="epochToHumanUseGMT">Use GMT</label>
            <input type="checkbox" id="epochToHumanUseGMT">
            <div id="epochToHumanResult"></div>
        </div>

        <!-- Error Handling and User Feedback Section -->
        <div class="section">
            <h2>Error Handling and User Feedback</h2>
            <div id="successMessage"></div>
            <div id="errorMessage"></div>
            <div id="loadingIndicator"></div>
        </div>
    </div>

    <script src="{{ url_for('static', filename='JS/converter.js') }}"></script>
</body>

</html>
